.Upload{
    margin: 14px;
    display: inline;
}

.btn{
    margin-right: 14px;
    max-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.folderinput{
    display: inline;
}

.hidden{
    display: none;
}

.progress{
    margin-top: 10px;
    margin-right: 14px;
    height: 5px;
    width: 32px;
    display : inline;
    font-size: 1.3rem;
}

.progTooltip{
    font-size: 1.3rem;
    font-weight: bold;
}